@import url('https://use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css');
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot');
  src: url('https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
       url('https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
       url('https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'),
       url('https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	}
	
body{
	background: #C4C4C4;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	
}
header{
	width: 100%;
	height: 88px;
	background: #FF9393;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	border: 1px solid #000000;
}
.header__text{
	font-size: 36px;
	line-height: 42px;
}
.todo__list{
	padding-top: 28px;
	display: flex;
	justify-content: center;
}
.todo__list__head input{
	width: 599px;
	height: 69px;
	background: #C2C2C2;
	box-shadow: 0px 0px 10px #000000;
	border-radius: 5px;
	font-size: 36px;
	line-height: 42px;
	padding-left: 20px;
}
.todo__list__head button{
	width: 158px;
	height: 72px;
	background: #C2C2C2;
	box-shadow: 0px 0px 10px #000000;
	border-radius: 5px;
	font-size: 36px;
	line-height: 42px;
	margin-left: 23px;
}
.todo__list__action{
	width: 100%;
	height: 526px;
	background: #C4C4C4;
	box-shadow: 0px 0px 20px #000000;
	border-radius: 5px;
	margin-top: 30px;
	padding-top: 31px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.todo__list__action button{
	position: absolute;
	width: 52px;
	height: 52px;
	background: #FF9393;
	border-radius: 50%;
	z-index: 4;
	right:-20px;
	top:-20px;
	}

.todo__element{
	width: 735px;
	height: 66px;
	background: #E0E0E0;
	border-radius: 5px;
	align-items: right;
	margin:22px auto;
	position: relative;
	line-height: 66px;
	font-size: 24px;
	padding-left: 19px;
}
.dark-theme__button{

}
body.dark{
background-color: #000000;
color:white;
}
.dark button{
	background-color:white;
}
.dark .todo__list__action{
	color:black;
}